# Optional modules
oclint-json-compilation-database/
oclint-xcodebuild/
oclint-xcode-project/

# Third-party dependencies and build directory
googletest/
llvm/
build/
oclint-scripts/llvm.sh

# Compile Commands
compile_commands.json

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Python Objects
*.pyc

# System files
.DS_Store
.vscode/
oclint-json-compilation-database.zip
build.zip
oclint-xcodebuild.zip
RuleTest/RuleTest.xcodeproj/project.xcworkspace/xcuserdata/qiwen.xcuserdatad/UserInterfaceState.xcuserstate
